#body-login {
 background: url('../assets/img/bg_login.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 color:#fff;
background-color:#333;
}



/*form login*/

#jumbotron {
	margin-top: 13%;
	padding-top: 1%;
	background-color:rgba(0,0,0,0.2);
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-family: wol_reg;
}

#login {
	background: rgba(0, 0, 0,0.4);
	border-radius: 0;
	border : 1px solid rgba(0, 0, 0,0);
	color: white;
}

#error {
	border-radius: 0;
	border : 1px solid rgba(0, 0, 0,0);
	height: auto;
  background: rgba(0,0,0,0.5);
}

@media(min-width:320px) {
	#btn-login {

	}
   #error {
    margin-left: 0;
  }

}

@media(min-width:768px) {
	#btn-login {

	}

   #error {
    margin-left: 0;
  }

}

@media(min-width:995px) {
	#btn-login {

	}

	#login{
	height: 60px;
	font-size: 1.7em;
  }
   #error {
    margin-left: 15%;
  }
}

@media(min-width:1280px) {
	#btn-login {

	}

	#login{

	height: 60px;
	font-size: 1.7em;
}

  #error {
    margin-left: 15%;
  }

}


@font-face
{
font-family: wol_reg;
src: url(../fonts/WOL_Reg.woff);
}

@font-face
{
font-family: lato_reg;
src: url(../fonts/Lato-Reg.ttf);
}

@font-face
{
font-family: lato_lig;
src: url(../fonts/Lato-Lig.ttf);
}

@font-face
{
font-family: muli-reg;
src: url(../fonts/Muli-Regular.ttf);
}

/*end form login*/


/*loader*/
.loader,
.loader:before,
.loader:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 4em auto;
  margin-bottom: 0;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

/*end loader*/

/*cropimage*/
#image-crop{
      width: 200px;
      height: 150px;
      position:relative; /* or fixed or absolute */
    }
/*end*/

.bottom-space {
  margin-bottom: 50px;
}

